VITE_NETWORK_ID=undeployed
VITE_LOGGING_LEVEL=info
VITE_CONTRACT_ADDRESS=
VITE_INDEXER_URI=http://127.0.0.1:8088/api/v4/graphql
VITE_INDEXER_WS_URI=ws://127.0.0.1:8088/api/v4/graphql/ws
VITE_PROOF_SERVER_URL=http://127.0.0.1:6300
